html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: black;
}

* {
  box-sizing: border-box;
}



.topnav {
  overflow: hidden;
  background-color: #e9a825;
  display: flex;

  }
    #button-container {
      margin: auto;
    }

    .topnav a {
      display: block;
      color: #f2f2f2;
      float: left;
      -webkit-transition-duration: 0.4s;
      transition-duration: 0.4s;
      text-align: center;
      padding: 20px 40px;
      text-decoration: none;
      font-family: 'Hind Siliguri', sans-serif;
      font-size: 20px;
    }

    .topnav a:hover {
      color: black;
    }

    .topnav .icon {
      display: none;
    }


#top-section {
  background-image: url("https://www.zonweringvoordelig.nl/write/afbeeldingen1/producten/luxaflex-houten-jaloezieen/Houten%20Jaloezie%201___Source.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 70vh;
  display: flex;
}

    #logo-container {
      background-color: rgba(255,255,255,0.9);
      display: flex;
      align-self: center;
      margin: auto;
      min-width: 200px;
      min-height: 120px;
      height: 15vw;
      width: 25vw;
      border: 6px double #e9a825;
      border-radius: 20px;
      padding: 5px;
    }
    #logo {
      margin: auto;
      width: 100%;
      height: 70%;
      align-self: center;
    }

#product-section {
  background-color: #e9a825;
  padding: 50px 22vw 100px 22vw;
}
    #product-section h2 {
      font-family: 'Hind Siliguri', sans-serif;
      font-size: 40px;
      text-align: center;
      margin-bottom: 50px;
    }

    .category-line {
      display: flex;
      margin-bottom: 80px;
    }
    .category-container {
      position: relative;
      width: 13vw;
      height: 13vw;
      display: inline-block;
      margin: auto;
      border: 1px dashed black;
      box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .category-image {
      display: block;
      width: 100%;
      height: auto;
    }

    .category-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(233, 168, 37, 0.9);
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: .5s ease;
    }

    .category-container:hover .category-overlay {
      height: 20%;
    }

    .category-text {
      color: white;
      font-size: 1vw;
      position: absolute;
      top: 50%;
      left: 50%;
      font-family: sans-serif;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
    }

    .category-label  {
      text-align: center;
      text-decoration: none;
      display: block;
      font-family: 'Hind Siliguri', sans-serif;
      color: black;
      font-size: 1.1vw;
      margin: 20px;
      margin-bottom: 30px;
    }


#about-section {
  background-image: url("https://www.deprojectinrichter.com/s/images/15/603/luxaflex-nano-rolgordijnen-sfeerfoto-2/productfoto_full.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  display: flex;
  padding: 60px;
}

    #about-text {
      vertical-align: middle;
      background-color: rgb(0,0,0);
      background-color: rgba(0,0,0, 0.4);
      color: white;
      font-weight: bold;
      font-size: 30px;
      font-family: 'Hind Siliguri', sans-serif;
      border: 3px solid #f1f1f1;
      z-index: 2;
      width: 80%;
      margin: auto;
      padding: 10px;
      text-align: center;
    }
      
#showroom-section {
  background-color: black;
  margin: 0;
  padding: 20px;
  padding-top: 50px;
      }
          #showroom-section h2 {
            font-family: 'Hind Siliguri', sans-serif;
            color: #e9a825;
            font-size: 40px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 50px;
          }

      .showRoom {display: none}
      img {vertical-align: middle;}

      .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
      }

      .slide-text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
      }

      .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
      }

      .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
      }

      .active, .dot:hover {
        background-color: #717171;
      }

      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
      }

      @-webkit-keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }

      @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
      }



#footer {
  height: 200px;
  background-color: #e9a825;
  padding: 20px;
}
    #social-container {
      text-align: center;
}
   #footer .fa {
    padding: 20px;
    font-size: 40px;
    width: 30px;
    margin: 5px 5px;
    text-align: center;
    border-radius: 50%;
    text-decoration: none;
    color: white;
  }

    #footer .fa:hover {
        opacity: 0.7;
    }

  #footer p {
   font-family: 'Hind Siliguri', sans-serif;
   width: 100%;
   font-size: 20px;
   text-align: center; 
  }














@media screen and (max-width: 760px) {
  
  .category-line {
    display: block;
    margin: 0;
  }
  .topnav {
    display: block;
  }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: inline;
  }
  #top-section {
    background-image: url("https://www.zonenschermwebshop.nl/ENGINE/FILES/SUNEASY/WEBSITE/PUBLIC/UPLOAD/IMAGE/webshop/producten/binnenzonwering/jaloezieen/35mm/35_groot.jpg");
    background-size: cover;
    background-attachment: scroll;
  }
  #product-section {
  background-color: #e9a825;
  padding: 50px 5vw 100px 5vw;
}
  .category-container {
  display: block;
  width: 80vw;
  height: 80vw;
  margin-bottom: 60px;
}
  .category-label  {
  font-size: 5vw;
  margin: 10px;
  font-family: monospace;
}
  .category-text {
    font-size: 4vw;
  }
  #about-text {
    font-size: 4vw;
    width: 90%;
  }
  #about-section {
    padding: 20px;
    background-attachment: scroll;
}
  #footer .fa {
    font-size: 30px;
  }
}

@media screen and (max-width: 760px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media only screen and (max-width: 300px) {
  .prev, .next,.slide-text {font-size: 11px}
}
